@import '~bootstrap/scss/_functions.scss';
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

html {
    min-height: 100vh !important;
}

body {
    background-color: #eaf6f3 !important;
    min-height: inherit !important;
}

#root {
    font-family: Abyssinica SIL, serif;
    min-height: inherit !important;
}

.header-drum {
    color: #e16666;
    font-size: 1.4rem;
 }

.inner-container {
    outline: 4px solid #4c4f6a;
    text-align: center;
    background-color: white;
}

.drum-pad {
    width: 85%;
    height: 85%;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #2a8ca1;
    box-shadow: black 3px 3px 5px;
    color: white;
}

.square-div {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.square-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#display {
    width: 85%;
    background-color: #4c4f6a;
    box-sizing: border-box;
}

.key-text {
    font-size: 1rem;
}

@media (min-width: 560px ) and (max-width: 740px) {
    .key-text {
        font-size: 1.7rem;
    }

    .header-drum {
        font-size: 2.7rem;
    }
}

@media (min-width: 1200px ) and (max-width: 1400px) {
    .key-text {
        font-size: 2.5rem;
    }

    .header-drum {
        font-size: 3rem;
    }
}

@media (min-width: 1440px )  {
    .key-text {
        font-size: 4rem;
    }

    .header-drum {
        font-size: 3rem;
    }
}


